{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<main class="app-login">
    <div class="form-wrapper">
        <h2>Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" / required="" placeholder="Username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1"/ required="" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" href="index.html"> Submit </button>
        </form>
    </div>
</main>

<style>
    html{overflow: hidden;}
</style>
{% endblock %}